.input_box{
    width: 400px;
    height: 500px;
    margin:0 auto;
    text-align: center;
}
.input_box .field{
    margin: 10px;
}
.input_box .message-body{
    padding: 8px;
}
.undisplay{
    display: none;
}
#tips{
    height: 40px;
}
.lobby_box{
    position: absolute;
    top: 3%;
    bottom: 0%;
    left: 10%;
    right: 10%;
}
.lobby_box .card-content{
    padding: 10px 24px 10px 24px !important;
}
.lobby_box .box{
    padding: 5px 20px 5px 20px !important;
}
.list{
    height: 93%;
}
.list .columns{
    height: 100%;
}
#room_list,#user_list{
    overflow-y: scroll;
}
#room_list a :hover .card-content{
    background-color: rgb(185, 228, 226);
}
#user_list a :hover .card-content{
    background-color: rgb(157, 194, 250);
}
.room_box{
    width: 1080px;
    height: 600px;
    margin: 0 auto;
    text-align: center;
    padding: 0px !important;
}
.room_box .columns{
    margin: 0px;
}
.room_box .is-8{
    width: 714px !important;
    padding: 0px !important;
}
.chessboard{
    position: relative;
    width: 715px;
    height: 600px;
    z-index: 1;
    background-image: url('../img/bg.png')
}
.infoboard{
    position: relative;
    height: 600px;
    padding: 10px 10px 5px 10px !important;
}
.infoboard .column{
    padding: 1px;
}
#player1,#player2{
    padding: 5px;
}
#player1 :hover .message-body{
    background-color: rgb(218, 245, 219);
}
#player2 :hover .message-body{
    background-color: rgb(198, 198, 199);
}
.chat{
    height: 250px;
}
.chat .card-content{
    padding: 0px;
}
.chat .tabs{
    margin: 0 auto;
}
.chess_manual,.chat_msg,.users，.setting{
    overflow-y: auto;
    padding: 3px 0px 3px 10px !important;
    height: 200px;
}
.chess_manual,.chat_msg,.users,.setting li{
    text-align: left;
}
.chess_manual li{
    margin: 15px;
}
.setting li{
    margin: 18px;
}
#player1 .message-header{
    height: 40px;
}
#player2 .message-header{
    height: 40px;
}
#player1 .message-body{
    height: 44px;
    padding: 10px 15px 10px 15px;
}
#player2 .message-body{
    height: 44px;
    padding: 10px 15px 10px 15px;
}
.chessman{
    width: 36px;
    height: 36px;
    z-index: 25;
    display: block;
}
.white-exec{
    position: absolute;
    left: 75px;
    top: 57px;
}
.black-exec{
    position: absolute;
    left: 245px;
    top: 57px;
}
.cols-1{
    position: absolute;
    left: 60px;
}
.cols-2{
    position: absolute;
    left: 99px;
}
.cols-3{
    position: absolute;
    left: 139px;
}
.cols-4{
    position: absolute;
    left: 179px;
}
.cols-5{
    position: absolute;
    left: 219px;
}
.cols-6{
    position: absolute;
    left: 259px;
}
.cols-7{
    position: absolute;
    left: 299px;
}
.cols-8{
    position: absolute;
    left: 339px;
}
.cols-9{
    position: absolute;
    left: 379px;
}
.cols-10{
    position: absolute;
    left: 418px;
}
.cols-11{
    position: absolute;
    left: 458px;
}
.cols-12{
    position: absolute;
    left: 498px;
}
.cols-13{
    position: absolute;
    left: 538px;
}
.cols-14{
    position: absolute;
    left: 578px;
}
.cols-15{
    position: absolute;
    left: 618px;
}
.rows-1{
    position: absolute;
    top: 4px;
}
.rows-2{
    position: absolute;
    top: 42px;
}
.rows-3{
    position: absolute;
    top: 82px;
}
.rows-4{
    position: absolute;
    top: 122px;
}
.rows-5{
    position: absolute;
    top: 162px;
}
.rows-6{
    position: absolute;
    top: 202px;
}
.rows-7{
    position: absolute;
    top: 242px;
}
.rows-8{
    position: absolute;
    top: 282px;
}
.rows-9{
    position: absolute;
    top: 322px;
}
.rows-10{
    position: absolute;
    top: 362px;
}
.rows-11{
    position: absolute;
    top: 402px;
}
.rows-12{
    position: absolute;
    top: 442px;
}
.rows-13{
    position: absolute;
    top: 482px;
}
.rows-14{
    position: absolute;
    top: 522px;
}
.rows-15{
    position: absolute;
    top: 560px;
}
.now_col{
    position: absolute;
    left: 655px;
}
.now_col_middle{
    position: absolute;
    left: 655px;
}
.now_row{
    position: absolute;
    top: 230px;
}
.white_now{
    background-color: white;
    height: 40px;
    width: 40px;
    margin-bottom: 10px;
}
.black_now{
    background-color: black;
    height: 40px;
    width: 40px;
    margin-bottom: 10px;
}
.ready{
    position: absolute;
    left: 150px;
    top: 44%;
    width: 414px;
    height: 92px;
    background-color: rgba(6, 6, 8, 0.8);
    text-align: center;
    padding-top: 11.5px;
    border-radius: 5px;
    z-index: 30;
}
.ready .column{
    padding: 5px;
}
.now{
    background-color: rgba(20, 32, 206, 0.7);
    background-origin: padding-box;
}
.new_modal{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 300px;
    height: 360px;
    margin-left: -300px;
    margin-top: -200px;
    border: 1px solid #888;
    border-radius: 3px;
    background-color: rgb(248, 248, 248);
    z-index: 30;
    text-align: center;
}
#modal p{
    margin: 12px;
}