<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>在线棋牌游戏 | 登录</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/bulma.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='fa/css/all.css')}}">
    <script src="{{url_for('static',filename='js/main.js')}}"></script>
</head>
<body>
    <section class="hero is-fullheight is-info">
        <div class="hero-body">
            <div class="input_box">
                <h1 class="title">在线棋牌游戏 | 登录</h1>
                <div class="box">
                    <div class="field">
                        <div class="columns">
                            <div class="column">
                                <a onclick="start_login()" class="button is-info">
                                    <span>&nbsp;&nbsp;登&nbsp;&nbsp;录&nbsp;&nbsp;</span>
                                    <span class="icon is-small">
                                        <i class="fas fa-arrow-down"></i>
                                    </span>
                                </a>
                            </div>
                            <div class="column">
                                <a href="/visitor_check/" class="button is-dark">
                                    <span>&nbsp;&nbsp;游&nbsp;&nbsp;客&nbsp;&nbsp;</span>
                                    <span class="icon is-small">
                                        <i class="fas fa-arrow-right"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div><hr>
                    <div class="" id="login_logo">
                        <div class="field">
                            <span>五子棋，在线游戏</span>
                        </div>
                        <div class="field">
                            <img class="image" src="{{url_for('static',filename='img/login_logo.jpg')}}" alt="loading...">
                        </div>
                        <div class="field">
                            <span>在线游戏，和其他玩家真人对弈</span>
                        </div>
                    </div>

                    <div class="undisplay" id="login_input">
                        <div class="field" id="tips"></div>
                        <div class="field">
                            <p class="control has-icons-left">
                                <input type="text" id="name" class="input" value="{{name}}" placeholder="请输入用户名" onfocus="clear_tips()">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-user"></i>
                                </span>
                            </p>
                        </div>
                        <div class="field">
                            <p class="control has-icons-left">
                                <input type="password" id="password" class="input" value="{{password}}" placeholder="请输入密码" onfocus="clear_tips()">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </p>
                        </div>
                        <div class="field">
                            <p class="control has-icons-left">
                                <label>
                                    <input type="checkbox" id="remember" class="checkbox">
                                    <span>记住我</span>
                                </label>
                            </p>
                        </div>
                        <div class="field">
                            <p class="control">
                                <button class="button is-primary is-fullwidth">
                                    <span>进入大厅</span>
                                    <span class="icon is-small">
                                        <i class="fas fa-arrow-right"></i>
                                    </span>
                                </button>
                            </p>
                        </div>
                        <div class="field">
                            <div class="columns">
                                <div class="column">
                                    <a class="has-text-link" href="/register/">去注册</a>
                                </div>
                                <div class="column">
                                    <a class="has-text-danger" href="/passwd/">忘记密码</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</body>
</html>