<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>在线棋牌游戏 | 找回密码</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/bulma.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='fa/css/all.css')}}">
    <script src="{{url_for('static',filename='js/main.js')}}"></script>
</head>
<body>
    <section class="hero is-fullheight is-info">
        <div class="hero-body">
            <div class="input_box">
                <h1 class="title">找回密码</h1>
                <div class="box">
                    <div class="field" id="tips">
                        <article class="message is-danger">
                            <div class="message-body">
                                用户名不能为空
                            </div>
                        </article>
                    </div>
                    <div class="field">
                        <p class="control has-icons-left">
                            <input type="text" class="input" placeholder="用户名">
                            <span class="icon is-small is-left">
                                <i class="fas fa-user"></i>
                            </span>
                        </p>
                    </div>
                    <div class="field has-addons">
                        <div class="control has-icons-left">
                            <input type="text" class="input" placeholder="输入注册使用的手机号">
                            <span class="icon is-small is-left">
                                <i class="fas fa-mobile-alt"></i>
                            </span>
                        </div>
                        <div class="control">
                            <a href="#" class="button is-primary">
                                获取验证码
                            </a>
                        </div>
                    </div>
                    <div class="field">
                        <p class="control has-icons-left">
                            <input type="text" class="input" placeholder="请输入验证码">
                            <span class="icon is-small is-left">
                                <i class="fas fa-key"></i>
                            </span>
                        </p>
                    </div>
                    <div class="field">
                        <p class="control has-icons-left">
                            <input type="password" class="input" placeholder="新密码">
                            <span class="icon is-small is-left">
                                <i class="fas fa-lock"></i>
                            </span>
                        </p>
                    </div>
                    <div class="field">
                        <p class="control has-icons-left">
                            <input type="password" class="input" placeholder="确认密码">
                            <span class="icon is-small is-left">
                                <i class="fas fa-lock"></i>
                            </span>
                        </p>
                    </div>
                    <div class="field">
                        <p class="control">
                            <button class="button is-primary is-fullwidth">
                                <span>找回密码</span>
                                <span class="icon is-small">
                                    <i class="fas fa-arrow-circle-right"></i>
                                </span>
                            </button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>